@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

html *::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
}
html *::-webkit-scrollbar-thumb {
  border-radius: 5px;
  /* background-color: rgba(22, 24, 35, 0.08) */
  background-color: rgba(5, 140, 104, 0.1);
}
html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(22, 24, 35, 0.08);
}
